<!DOCTYPE html>
<html>
  <head>
    <title>Case List</title>
  </head>
  <body>
    <a href="{% url 'cases:create_case' %}">Create New Case</a>

    <h1>Case List</h1>
    <ul>
      {% for case in cases %}
      <li>
        {{ case.title }} (Case ID: {{ case.id }})
        <p>Description: {{ case.description }}</p>
        <p>Created by User ID: {{ case.user_id }}</p>

        <!-- This form should be inside the loop and the <li> -->
        <form method="POST" action="{% url 'cases:delete_case' case.id %}">
          {% csrf_token %}
          <input type="submit" value="Delete Case" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
