{% extends 'base_app/base.html' %} {% block title %} CVD Report List
{%endblock%} {% block content %}
<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <h2 class="text-2xl font-semibold leading-tight">CVD Report List</h2>
    <div class="my-2 flex sm:flex-row flex-col">
      <a
        href="{% url 'cvd_service:create_cvd' %}"
        class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >Create New CVD</a
      >
    </div>

    {% if not cvd_list %}
    <p>There are no active CVD reports.</p>
    {% else %} {% for cvd in cvd_list %}
    <div class="py-2">
      <div class="flex flex-col border-2 rounded-lg p-4 bg-white">
        <p><strong>First Name:</strong> {{ cvd.first_name }}</p>
        <p><strong>Last Name:</strong> {{ cvd.last_name }}</p>
        <p><strong>Email:</strong> {{ cvd.email }}</p>
        <p><strong>Phone:</strong> {{ cvd.phone }}</p>
        <p><strong>Vulnerability Type:</strong> {{ cvd.vulnerability_type }}</p>
        <p><strong>Explanation:</strong> {{ cvd.explanation }}</p>
        <p><strong>Reason:</strong> {{ cvd.vulnerability_reason }}</p>
        <p><strong>Domain/IP:</strong> {{ cvd.domain_or_ip }}</p>
        <p><strong>PGP Key:</strong> {{ cvd.pgp_key }}</p>

        {% if user.is_authenticated %}
        <div class="flex justify-between">
          <a
            href="{% url 'cvd_service:cvd_detail' cvd.id %}"
            class="text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg"
            >View</a
          >
          <form
            method="POST"
            action="{% url 'cvd_service:delete_cvd' cvd.id %}"
          >
            {% csrf_token %}
            <button
              type="submit"
              class="text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg"
            >
              Delete
            </button>
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %}
