<!-- base.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Add your CSS and other common headers here -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Cookie Consent Popup -->
    {% if not request.session.cookie_consent %}
    <div
      id="cookie-popup"
      class="fixed bottom-0 left-0 w-full bg-blue-500 text-white py-3 px-6 flex items-center justify-between"
    >
      <p>
        We use cookies to improve your experience. By using our site, you agree
        to our use of cookies.
      </p>
      <button
        id="cookie-consent-button"
        class="bg-white text-blue-500 px-4 py-2 rounded"
      >
        I Agree
      </button>
    </div>
    <script>
      document
        .getElementById("cookie-consent-button")
        .addEventListener("click", function () {
          fetch("{% url 'cookie_consent' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
              "X-CSRFToken": "{{ csrf_token }}",
            },
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
              }
              return response.json();
            })
            .then((json) => {
              document.getElementById("cookie-popup").style.display = "none";
            })
            .catch((e) => {
              console.log(
                "There has been a problem with the fetch operation: " +
                  e.message
              );
            });
        });
    </script>
    {% endif %}
    <!-- End Cookie Consent Popup -->

    <nav class="bg-white border-gray-200 dark:bg-gray-900">
      <div
        class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
      >
        <a href="{% url 'home' %}" class="flex items-center">
          <img
            src="https://allvectorlogo.com/img/2019/08/national-cyber-security-centre-ncsc-logo-vector.png"
            class="h-20 mr-3"
            alt="Logo"
          />
        </a>

        <button
          data-collapse-toggle="navbar-default"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
          >
            <li>
              <a
                href="{% url 'home' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >Home</a
              >
            </li>
            {% if user.is_authenticated %}
            <li>
              <a
                href="{% url 'cvd_service:cvd_list' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >CVD module</a
              >
            </li>
            <li>
              <a
                href="{% url 'cases_service:case_list' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >Cases module</a
              >
            </li>
            {% else %}
            <li>
              <a
                href="{% url 'cvd_service:create_cvd' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >Submit CVD Report</a
              >
            </li>
            <li>
              <a
                href="{% url 'cases_service:case_list' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >View all active cases</a
              >
            </li>
            {% endif %} {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li>
              <a
                href="{% url 'privacy_policy' %}"
                class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
                aria-current="page"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container mx-auto pt-12">
      {% block content %} {% endblock %}
    </main>

    <footer>
      <!-- Add your footer content here -->
    </footer>

    <!-- Add your JavaScript and other common scripts here -->
  </body>
</html>
