{% extends 'base_app/base.html' %} {% block title %}Main page{% endblock %}
{%block content %}

<h1 class="text-3xl font-bold underline">Welcome to the Home Page</h1>

{% if user.is_authenticated %}
<h1>Welcome, {{ user.username }}!</h1>
<p>User ID: {{ user.id }}</p>
<p>First Name: {{ user.first_name }}</p>
<p>Last Name: {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Is Active: {{ user.is_active }}</p>
<p>Is Staff: {{ user.is_staff }}</p>
<p>Is Superuser: {{ user.is_superuser }}</p>
<p>Date Joined: {{ user.date_joined }}</p>
<p>Last Login: {{ user.last_login }}</p>
{% else %}
<p>Please <a href="{% url 'login' %}">Login</a> to view user information.</p>
{% endif %}

<a
  href="{% url 'cvd_service:cvd_list' %}"
  class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  >Go to CVD page</a
>

<a
  href="{% url 'cases_service:case_list' %}"
  class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
  >Go to Cases page</a
>
{% endblock %}
