{% extends "base_app/base.html" %}

{% block content %}
<div class="max-w-screen-md mx-auto my-10">
    <h1 class="text-2xl font-bold mb-5">Privacy Policy</h1>

    <h2 class="text-xl font-semibold my-3">1. Who are we?</h2>
    <p>
        We are the National Cyber Security Centre of the Netherlands (NCSC-NL). Our postal address is PO box 20301, 2500 EH The Hague, The Netherlands, and our visiting address is Turfmarkt 147, 2511 DP The Hague, The Netherlands. Please note that ID is mandatory when visiting the NCSC.
        You can contact us by post at the above postal address, by email at info@ncsc.nl, or by telephone at +31 70 751 55 55.
    </p>

    <h2 class="text-xl font-semibold my-3">2. What information do we collect?</h2>
    <p>
        We collect and process the following information which may include your personal data.
        <ul class="list-disc list-inside">
            <li>Full name</li>
            <li>Email address</li>
            <li>Phone number</li>
            <!-- Add any other data points your app collects -->
        </ul>
    </p>

    <h2 class="text-xl font-semibold my-3">3. Why do we collect this information?</h2>
    <p>
        We will use your information to respond to any enquiries you make or to handle the reports you submit. This processing is necessary 
        in order to take steps at your request prior to entering into a contract.
    </p>

    <h2 class="text-xl font-semibold my-3">4. What do we do with your information?</h2>
    <p>
        Your information is stored in our database and is not shared with any third parties, 
        except for those necessary to process your requests. We do not use the information provided 
        to make any automated decisions that might affect you.
    </p>

    <h2 class="text-xl font-semibold my-3">5. How long do we keep your information?</h2>
    <p>
        We keep your information unless you request us to delete it sooner.
    </p>

    <h2 class="text-xl font-semibold my-3">6. Your rights over your information</h2>
    <p>
        By law, you can ask us what information we hold about you, and you can ask us to correct it 
        if it is inaccurate. You can also ask us to give you a copy of the information and to stop using 
        your information for a period of time if you believe we are not doing so lawfully.
    </p>

    <p>
        To submit a request by email, post or telephone, please use the contact information provided above.
    </p>

    <h2 class="text-xl font-semibold my-3">7. Your right to complain</h2>
    <p>
        If you have a complaint about our use of your information, you can contact the Data Protection Authority in the Netherlands (Autoriteit Persoonsgegevens) via their website at www.autoriteitpersoonsgegevens.nl or write to them at: Autoriteit Persoonsgegevens, Postbus 93374, 2509 AJ DEN HAAG.
    </p>
</div>
{% endblock %}
